



h1 {
    margin: 10px 0px 0px 400px;
    color: black;
    display:flex;
    justify-content: center; 
    font-family: sans-serif;
    }
    
    h2{
    
        display:inline-block;
        font-family: sans-serif;
    
    
    }
    aside{
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 20px 10px;
    }
    
    form.City-search-form{
        display: flex;
        flex-direction: column;
        height: 150px;
        gap: 10px;
        
        
    }
    
    
    h3{
        margin-block-start:10px;
        display: inline-flow;
        background-color:white;
        padding: 15px;
        outline: solid grey;
    }
    
    .button-section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
    body {
        display: inline-block;
        background-color: lightblue;
        color: black;
    
    }
    button {
        color: grey;
        width: 200px;
        height: 30px;
    
    }
    .box-weather1{
    color: black;
    width: 1000px;
    height: 150px;
    }
    
    main {
        display: flex;
    }
    
    .forecast-container {
        width: 100%;
    }